.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.content-container {
  
  
}

.header-text {
  /* font-weight: 900;
  text-align: center;
  margin-bottom: 20rem; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  margin: 0;
  padding: 2rem;
}



.grid{
  display: flex;
  

}



h1 {
  padding: 10px;
}

.body{
  margin: 0;
} 

.number {
  background-color: #D9D9D9;
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  border: 1px solid #ACACAC;
  padding: 40px 0;
  justify-content: center;
  
  
  
} 

.number-solution {

  background-color: #DBA1FF;
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  border: 1px solid #ACACAC;
  padding: 40px 0;
  justify-content: center;
  color: white;
  font-weight: 900;
  border: 1px solid #DB00FF;

}

.button-parent {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  
}
.button {
  color: white; 
  background-color: #AD00FF;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  border-radius: 6px;
  padding: 10px 80px;
  border: 0;
  
  
 
}

.target-text {
  text-align: center;
  display: block;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 5px;
  
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
}

.fa-solid {
  font-size: 50px;
  color: #AD00FF;
  animation: spin 1s infinite;
}

.spinner-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}